li{
    list-style: none;
}

.titulo{
    width: 100%;
    text-align: center;
}

.autos img{
    width: 300px;
    height: 250px;
}

.autos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.autos p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.autos button{
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 145px;
    font-weight: 700;
    background-color: rgb(0, 96, 185);
    border-radius: 10px;
    padding: 15px 30px;
    margin: 10px 10px;
    color: aliceblue;
}

button:hover{
    background-color: transparent;
    border: 2px solid rgb(0, 96, 185);
    color: rgb(0, 96, 185);
    font-weight: 700;
}

